@font-face {
    font-family: 'PP Neue Montreal Thin';
    font-style: normal;
    font-weight: 350;
    src: local('PP Neue Montreal Thin'), url('./pp-neue-montreal-cufonfonts-webfont/ppneuemontreal-thin.woff') format('woff');
  }
  *,
  :after,
  :before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PP Neue Montreal Thin', sans-serif;
  }
  html {
    font-size: 10px;
  }